<!--Banner-->
<div class="col-12 mb-4 theme-secondary">
    <div class="custom-container">
  <div class="row">
    <h1 class="font-weight-bold text-center text-sm-left pl-4">Welcome!</h1>
  </div>
  </div>
</div>

<!--Main Content-->
<div class="custom-container">
  <div class="col-12">
    <div class="row">
      <div class="col-12 p-0 col-md-4 col-lg-3 pb-4">
          <img src="./assets/images/profile-pic.jpg" class="d-block m-auto float-md-left profile-image" height="180px" alt="profile-pic">
      </div>
      <div class="col-12 col-md-8 col-lg-9 mb-4 px-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lorem augue, accumsan vitae ultricies at, posuere at nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin aliquet lorem vitae nibh condimentum accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lorem augue, accumsan vitae ultricies at, posuere at nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin aliquet lorem vitae nibh condimentum accumsan.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lorem augue, accumsan vitae ultricies at, posuere at nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin aliquet lorem vitae nibh condimentum accumsan.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lorem augue, accumsan vitae ultricies at, posuere at nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin aliquet lorem vitae nibh condimentum accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lorem augue, accumsan vitae ultricies at, posuere at nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin aliquet lorem vitae nibh condimentum accumsan.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lorem augue, accumsan vitae ultricies at, posuere at nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin aliquet lorem vitae nibh condimentum accumsan.
        </p>
        <button class="btn btn-outline-white d-block m-auto float-sm-right" type="submit">More About Me... <i class="fa fa-external-link" aria-hidden="true"></i></button>
      </div>
      <div class="row theme-secondary mx-0 mb-4 p-4">
        <div class="col-12 col-sm-6 col-lg-4 mb-4 mb-sm-0 p-0 p-sm-4">
          <img src="./assets/images/design-icon.svg" class="icon-wrapper d-block m-auto" height="100px" alt="design-icon">
          <h3 class="font-weight-bold text-center">Design</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lorem augue, accumsan vitae ultricies at, posuere at nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin aliquet lorem vitae nibh condimentum accumsan.</p>
          <button class="btn btn-custom-secondary d-block m-auto" type="submit">Explore More... <i class="fa fa-external-link" aria-hidden="true"></i></button>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mb-4 mb-sm-0 p-0 p-sm-4">
          <img src="./assets/images/dev-icon.svg" class="icon-wrapper d-block m-auto" height="100px" alt="dev-icon">
          <h3 class="font-weight-bold text-center">Development</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lorem augue, accumsan vitae ultricies at, posuere at nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin aliquet lorem vitae nibh condimentum accumsan.</p>
          <button class="btn btn-custom-secondary d-block m-auto" type="submit">Explore More... <i class="fa fa-external-link" aria-hidden="true"></i></button>
        </div>
        <div class="col-12 m-auto col-sm-6 col-lg-4 mb-4 mb-sm-0 p-0 p-sm-4">
            <img src="./assets/images/ux-icon.svg" class="icon-wrapper d-block m-auto" height="100px" alt="ux-icon">
            <h3 class="font-weight-bold text-center">User Experience</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lorem augue, accumsan vitae ultricies at, posuere at nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin aliquet lorem vitae nibh condimentum accumsan.</p>
            <button class="btn btn-custom-secondary d-block m-auto" type="submit">Explore More... <i class="fa fa-external-link" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>