<!--Banner-->
<div class="col-12 mb-4 theme-secondary">
  <div class="custom-container">
  <div class="row">
    <h1 class="font-weight-bold text-center text-sm-left pl-4">Projects</h1>
  </div>
  </div>
</div>

<!--Projects-->
<div class="col-12">
  <div class="custom-container">
    <div class="row">
      <div class="col-4">1</div>
      <div class="col-4">2</div>
      <div class="col-4">3</div>
      <div class="col-4">4</div>
      <div class="col-4">5</div>
      <div class="col-4">6</div>
    </div>
  </div>
</div>