<!--Banner-->
<div class="col-12 mb-4 py-4 theme-secondary banner">
  <div class="custom-container">
  <div class="row">
    <h1 class="font-weight-bold text-center text-sm-left pl-4 my-4">Projects</h1>
  </div>
  </div>
</div>

<!--Projects Content-->
<div class="col-12">
  <div class="custom-container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 p-2">
        <img class="image-container" src="./assets/images/placeholder.jpg" alt="placeholder">
        <h3 class="my-2">Project Title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lorem augue, accumsan vitae ultricies at, posuere at nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
      </div>
      <div class="col-12 col-sm-6 col-md-4 p-2">
        <img class="image-container" src="./assets/images/placeholder.jpg" alt="placeholder">
        <h3 class="my-2">Project Title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lorem augue, accumsan vitae ultricies at, posuere at nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
      </div>
      <div class="col-12 col-sm-6 col-md-4 p-2">
        <img class="image-container" src="./assets/images/placeholder.jpg" alt="placeholder">
        <h3 class="my-2">Project Title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lorem augue, accumsan vitae ultricies at, posuere at nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
      </div>
      <div class="col-12 col-sm-6 col-md-4 p-2">
        <img class="image-container" src="./assets/images/placeholder.jpg" alt="placeholder">
        <h3 class="my-2">Project Title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lorem augue, accumsan vitae ultricies at, posuere at nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
      </div>
    </div>
  </div>
</div>