<div class="custom-container">
  <div class="col-12">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-8 theme-primary mt-4 my-sm-4 p-4">
        <div class="h3 text-center text-sm-left mb-4">Message Me</div>
        <label for="name" class="d-none">Name</label>
        <input class="custom-text-box form-control mb-4" type="text" placeholder="Name" id="name" aria-label="name">
        <label for="email" class="d-none">Email</label>
        <input class="custom-text-box form-control mb-4" type="email" placeholder="Email" id="email" aria-label="email">
        <label for="subject" class="d-none">Subject</label>
        <input class="custom-text-box form-control mb-4" type="text" placeholder="Subject" id="subject" aria-label="subject">
        <label for="message" class="d-none">Message</label>
        <textarea class="custom-textarea-box form-control mb-4" type="text" placeholder="Message" id="message" aria-label="message"></textarea>
        <button class="btn btn-outline-secondary float-right" type="submit">Submit <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 theme-secondary my-4 p-4">
        <div class="h3 text-center mb-4">Let's Connect</div>
        <div class="col-12">
          <div class="row">
            <div class="col-3 px-sm-0 pb-4 text-center"><i class="fa fa-facebook social-icon text-sm-center p-2" aria-hidden="true"></i></div>
            <div class="col-3 px-sm-0 pb-4 text-center"><i class="fa fa-twitter social-icon text-sm-center p-2" aria-hidden="true"></i></div>
            <div class="col-3 px-sm-0 pb-4 text-center"><i class="fa fa-snapchat-ghost social-icon text-sm-center p-2" aria-hidden="true"></i></div>
            <div class="col-3 px-sm-0 pb-4 text-center"><i class="fa fa-google-plus social-icon text-sm-center p-2" aria-hidden="true"></i></div>
            <div class="col-3 px-sm-0 pb-4 text-center"><i class="fa fa-linkedin social-icon text-sm-center p-2" aria-hidden="true"></i></div>
            <div class="col-3 px-sm-0 pb-4 text-center"><i class="fa fa-instagram social-icon text-sm-center p-2" aria-hidden="true"></i></div>
            <div class="col-3 px-sm-0 pb-4 text-center"><i class="fa fa-medium social-icon text-sm-center p-2" aria-hidden="true"></i></div>
            <div class="col-3 px-sm-0 pb-4 text-center"><i class="fa fa-dribbble social-icon text-sm-center p-2" aria-hidden="true"></i></div>
            <div class="col-3 px-sm-0 pb-4 text-center"><i class="fa fa-behance social-icon text-sm-center p-2" aria-hidden="true"></i></div>
            <div class="col-3 px-sm-0 pb-4 text-center"><i class="fa fa-codepen social-icon text-sm-center p-2" aria-hidden="true"></i></div>
            <div class="col-3 px-sm-0 pb-4 text-center"><i class="fa fa-github social-icon text-sm-center p-2" aria-hidden="true"></i></div>
            <div class="col-3 px-sm-0 pb-4 text-center"><i class="fa fa-stack-overflow social-icon text-sm-center p-2" aria-hidden="true"></i></div>
            <div class="col-3 px-sm-0 pb-4 text-center"><i class="fa fa-skype social-icon text-sm-center p-2" aria-hidden="true"></i></div>
            <div class="col-3 px-sm-0 pb-4 text-center"><i class="fa fa-whatsapp social-icon text-sm-center p-2" aria-hidden="true"></i></div>
            <div class="col-3 px-sm-0 pb-4 text-center"><i class="fa fa-envelope-o social-icon text-sm-center p-2" aria-hidden="true"></i></div>
            <div class="col-3 px-sm-0 pb-4 text-center"><i class="fa fa-phone social-icon text-sm-center p-2" aria-hidden="true"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

