@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

@font-face {
    font-family: 'IBM Plex Sans';
    src: '../node_modules/@ibm/type/scss/ibm-type';
}

//General Overrides
button:focus {outline:0;}

body {
    font-family: 'IBM Plex Sans';
}

.btn {
    border-radius: 0px !important;
}
//Bootstrap Overrides
.h1 {
    font-weight: 900;
    font-size: 4em;
}

//Custom Classes
.theme-primary{
    background: $primary !important;
    color: $secondary !important;
}
.theme-secondary {
    background: $secondary !important;
    color: $primary !important;
}