@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

@font-face {
    font-family: 'IBM Plex Sans';
    src: '../node_modules/@ibm/type/scss/ibm-type';
}

//General Overrides
button:focus {outline:0;}

body {
    font-family: 'IBM Plex Sans';
}

.btn {
    border-radius: 0px !important;
    padding: 10px 20px 10px 20px !important;
    font-size: 1.2em !important;
}
//Bootstrap Overrides

//Custom Classes
.theme-primary{
    background: $primary !important;
    color: $secondary !important;
}
.theme-secondary {
    background: $secondary !important;
    color: $primary !important;
}
.custom-container {
    max-width: 1200px;
    margin: 0px auto;
}

//Twitter Overrides
.SandboxRoot {
    background: red !important;
    color: red !important;
}